**/outputs/*
*.pyc
*__pycache__/
*.egg-info/
*.egg
*.log
*.swp
*.swo
*.swn
*.vscode/
*.pyc
*.bashrc
*.profile
*-checkpoint.ipynb
workspace/.profile
workspace/.cache
workspace/.config
workspace/.ipython
workspace/.jupyter
workspace/.local
*-checkpoint*
workspace/.ipynb_checkpoints
workspace/.nv
workspace/outputs
*.ipynb_checkpoints/
**~/*
**/.ipynb_checkpoints/
*/~/
**/~/
